body {
    background-image: url("./images/bg-intro-mobile.png");
    background-color: rgb(255, 121, 120);
    font-family: 'Noto Sans Lepcha', sans-serif;
}

#trial {
    background-color: rgb(93, 84, 163);
}

#submit {
    background-color: hsl(154, 59%, 51%);
}
#submit:active {
    background-color: hsl(154, 57%, 28%);
}

#form,
#trial {
    -webkit-box-shadow: 0px 11px 6px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 11px 6px 0px rgba(0, 0, 0, 0.32);
    
}


@media only screen and (min-width: 720px){
    body {
        background-image: url("./images/bg-intro-desktop.png");
    }

    input{
        outline: none;
    }
}